<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BackEnd WorkBook</title>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
</head>
<body> 
    <h1>Main Page</h1>
    <a href= "/readme.md" target = "_blank" > About </a>
    <script src ="client.js"></script>
</body>
    <section class="section-1">   
     <h2>Drinks</h2>
     <!-- <a href="" class="mybutton"><button id = "get-request"  >Get Request</button></a> -->
     <button id = "get-request"  >Get Request</button>
         <ul id = "drinks-list"></ul>
    </section>
    <!-- <form id = "topping-form">
        <input type = "text" placeholder = "Topping" name = "topping" />
        <button> Post Topping </button>
    </form> -->
    <!-- style through class, javascript through id*/ -->
</html>